body{
  font-size: 300px;
  }

@media (min-width: 0px)  and (max-width: 320px)){
    body {
        background-color: pink;
        color: #000;
        font-size: 100px;
    }
}

@media (min-width: 321px)  and (max-width: 480px)){
    body {
        background-color: pink;
        color: #000;
        font-size: 100px;
    }
}

@media (min-width: 481px)  and (max-width: 768px)){
    body {
        background-color: pink;
        color: #000;
        font-size: 100px;
    }
}

@media (min-width: 769px)  and (max-width: 1200px)){
    body {
        background-color: pink;
        color: #000;
        font-size: 100px;
    }
}
